@import url('https://fonts.googleapis.com/css2?family=Josefin+Slab&family=Special+Elite&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

/* general element styling*/

body {
    background: #590004;
    color: #FCBA04;
    font-family: 'Josefin Slab', sans-serif;
    font-size: 1.2rem;
    font-weight: 400;
}

header , footer {
    font-family: 'Special Elite';
    background: #FCBA04;
    color: #590004 ;
    letter-spacing: 2px;
    padding: 10px;
}

img {
    margin: 50px auto;
}

li {
    display: inline;
}

ol {
    padding: 10px;
}

a {
    text-decoration: none;
    color: #590004 ;
}

#initiative-history-list li:first-child {
    color: #A50104;
    font-weight: bold;
}

/* general class styling */

.main-container {
    margin: auto;
    width: 80%;
    text-align: center;
    padding: 20px;
}

#quote-container{
    padding: 30px 0;
    font-size: 1.5rem;
}

.sub-container {
    padding: 40px 0;
    font-size: 1.6rem;
    display: inline-block;
    overflow: hidden;
}

.width-40 {
    width: 40%;
}

.sub-container h3 , .sub-container p {
    margin: 20px;
}

.text-dark-sienna {
    color: #250001;
}

.text-selective-yellow {
    color: #FCBA04;
}

.text-rufous {
    color: #590004;
}

.background-dark-sienna {
    background: #250001;
}

.background-selective-yellow {
    background: #FCBA04;
}

.box-shadow {
    box-shadow: 3px 3px #A50104;
}

.hidden {
    display: none;
}

/* general id styling */

#footer-mobile {
    display: none;
}

/*fixed sizing styles*/

.height-90vh {
    min-height: 90vh;
}

/* modifier form */

button , #modifier {
    width: 80px;
    height: 40px;
    margin: 30px 0px 20px 0px;
    border-radius: 10px;
    font-size: 15px;
}

button {
    color: #FCBA04;
    background-color: #590004;
}

button:hover {
    background-color: #250001;
    color: #F3F3F3;
}

#modifier {
    text-align: center;
    outline: none;
}

/* initiative output styling */

.number-big {
    font-size: 4.0rem;
    font-weight: bold;
}

/* For screen sizes from 1024px wide or smaller*/

@media screen and (max-width: 900px){
    .sub-container {
        width: 100%;
        margin: auto 0;
    }
}

@media screen and (max-width: 560px) {
    #quote-container{
        display: none;
    }

    img {
        display: none;
    }

    footer , header{
        font-size: 1.0rem;
    }
}

@media screen and (max-width: 380px){
    #footer-mobile {
        display:block;
    }

    #footer-desktop {
        display: none;
    }
}